doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title yukiisbo.red

    link(rel='stylesheet' href='main.css')

  body
    h1 Hello world!
