doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title yukiisbo.red

    link(rel='stylesheet' href='main.css')

  body.bg-gradient-to-br.from-cerise.to-orange.p-4
    div.flex.flex-col.md_flex-row
      div.z-0.flex-none
        img.filter.drop-shadow-lg.w-auto.h-screen(src='character.png')
